/* Box sizing reset best practice according to https://css-tricks.com/box-sizing/ */
/*  browser font-size set to 16px so 62.5% = 10px; 1 rem = 10px */

/* #3bb2d0 */

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  border: 0;
  margin: 0;
  padding: 0;
}

.body,
.side-panel-container,
.side-panel-box,
.side-panel,
.sidebar-container,
.search-result-div {
  overflow: hidden;
}

body {
  /* padding: 1.5rem; */
  font-weight: 400;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  position: relative;
}

/* MAIN MAP */
#map {
  height: 100vh;
  width: 100vw;
  z-index: 0;
}

/* SIDE PANEL */

.side-panel-container {
  position: absolute;
  height: 100vh;
  width: 50rem;
  transform: translateY(-100%);
  z-index: 1;
  transition: all 0.2s;
}

.side-panel-box {
  display: flex;
  height: 100%;
  flex-direction: column;
  box-shadow: 0 10px 5px 1px rgba(0, 0, 0, 0.6);
  background-color: rgba(255, 255, 255, 0.8);
}

/* LOGO */
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;

  flex-basis: 10%;
}

.logo-content {
  margin-left: 1.5rem;
  font-size: 1.8rem;
  font-weight: 500;
}

/* SIDE PANEL BUTTON */
.side-panel-toggle-btn {
  position: absolute;
  left: 50rem;
  top: 50%;
  z-index: 3;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0 10px 10px 0;
  box-shadow: 2px 0 2px 1px rgba(0, 0, 0, 0.6);
  transition: all 0.2s;
  cursor: pointer;
}

/* SIDE PANEL */

.side-panel {
  flex: 1;

  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.3);
  padding: 1rem;
}

/* SIDEBAR COMPONENT */
.sidebar-container {
  flex-basis: 100%;

  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.8);
}

.sidebar-container-hidden {
  display: none;
}

.control-box {
  flex-basis: 10%;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.301);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.281);
  /* background-color: #3bb2d0; */
  margin-bottom: 1.5rem;
}

/* SIDEBAR CONTENT */
.search-result-div {
  flex: 1;

  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.input-box-div {
  margin: 1rem;
  font-size: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

/* RESUABLE COMPONENTS */
.cursor {
  cursor: pointer;
}

.cursor:active {
  transform: translateY(1px);
}

.input-box {
  flex-basis: 100%;
  margin: 1rem;
  padding: 1.5rem;
  border-radius: 5px;
  outline: none;
  border: 5px solid transparent;
  transition: all 0.2s;
}

.input-box:focus {
  border: 5px solid #3bb2d0;
  transition: all 0.2s;
}

.btn {
  background-color: #81d1e6;
  color: black;
  border-radius: 50px;
  padding: 1.5rem;
  cursor: pointer;
}

.btn:hover {
  background-color: #3bb2d0;
  color: white;
}

.btn:active {
  transform: translateY(1px);
}
.search-bar-icon {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.322);
  background: transparent;
  transform: translate(-5rem);
  margin: 0;
}

.search-bar-icon:hover {
}

/* TOOLTIPS */
.tooltip {
  position: relative;
}

.tooltip-sp {
  position: absolute;
}

/* .tooltip-si {
  position: relative;
  width: 0rem;
  height: 5rem;
} */

.tooltip-text,
.tooltip-sp-text,
.tooltip-si-text {
  font-size: 1.2rem;
  transition: all 0.2s;
  visibility: hidden;
  width: 12rem;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 0.5rem;
  position: absolute;
}

.tooltip-text {
  right: -2.8rem;
  bottom: -3.5rem;
}

.tooltip-sp-text {
  left: 3.5rem;
}

/* .tooltip-si-text {
  right: 2rem;
  top: 18rem;
} */

.tooltip:hover .tooltip-text,
.tooltip-sp:hover .tooltip-sp-text,
.tooltip-si:hover .tooltip-si-text {
  visibility: visible;
}

.tooltip:active .tooltip-text,
.tooltip-sp:active .tooltip-sp-text,
.tooltip:active .tooltip-si-text {
  visibility: hidden;
}

/* PLACES API GEOCODER QUERY STYLING */
.search-query-div {
  margin-top: 1rem;
  /* background: transparent; */
  color: rgba(255, 255, 255, 0.8);
  font-size: 11px;
  line-height: 18px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.searchQueryBox {
  margin: 1rem;
  color: #757575;
  font-size: 1.2rem;
  /* box-shadow: 3px 3px 5px rgba(144, 194, 45, 0.2); */
  border-bottom: 1px solid;
}

.searchQueryLink {
  margin: 0.1rem;
  font-size: 1rem;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.75);
  font-family: sans-serif;
  cursor: pointer;
}

.searchQueryBox p {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

/* TOURIST ATTRACTION BOX */
.tourist-attraction-box {
  display: flex;
  flex-direction: column;
}

/* .tourist-attraction link {
  text-decoration: none;
  color: inherit;
} */

.tourist-attraction-box img {
  width: 100%;
  height: 100%;
}

.tourist-attraction-box h1 {
  font-size: 2.5rem;
  line-height: 100%;
  padding: 1rem;
}

.tourist-attraction-box > div {
  display: flex;
  align-items: center;
  margin: 1rem 1rem 1rem 0;
  font-size: 1.5rem;
  padding: 1rem;
}

.tourist-attraction-box > div:hover {
  background-color: rgb(27, 27, 27);
  border-radius: 5px;
  margin-right: 1rem;
}

.tourist-attraction-box div:nth-child(5) i,
.tourist-attraction-box div:nth-child(8) i {
  margin: 1.4rem;
}

.tourist-attraction-box i {
  margin: 1rem;
}

/* SCROLLBAR STYLING */

.search-query-div::-webkit-scrollbar,
#directions::-webkit-scrollbar {
  width: 1rem;
}

.search-query-div::-webkit-scrollbar-thumb,
#directions::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.8);
}

/* DIRECTIONS COMPONENT */
.directions-container-hidden {
  display: flex;
  flex-direction: column;

  padding-right: 1rem;
  transition: all 0.2;
  display: none;
  /* background-color: rgba(0, 0, 0, 0.8); */
}

.directions-container {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  /* padding-right: 1rem; */
  overflow-y: overlay;
  /* display: none; */
  /* background-color: rgba(0, 0, 0, 0.8); */
  transition: all 0.2;
}

/* .mapbox-directions-inputs input {
  font-size: 1.5rem !important;
}

.mapbox-directions-profile label {
  font-size: 1.5rem !important;
} */

#inputs,
#errors,
#directions {
  width: 100%;
  /* max-width: 300px; */
  min-width: 200px;
}

#inputs {
  position: relative;
  z-index: 10;
  /* top: 15px;
  left: 10px; */
  /* font-size: 5rem !important; */
}

#directions {
  display: flex;
  flex-direction: column;
  height: 100%;
  z-index: 99;
  background: rgba(0, 0, 0, 0.8);
  overflow-y: scroll;
}

#errors {
  z-index: 8;
  opacity: 0;
  padding: 10px;
  border-radius: 0 0 3px 3px;
  background: rgba(0, 0, 0, 0.25);
  top: 90px;
  left: 10px;
}

.mapbox-directions-reverse-input {
  position: absolute;
  z-index: 10;
  background: white;
  left: 50px;
  top: 30px !important;
  cursor: pointer;
}

/* LINKS */

a {
  text-decoration: none;
  color: inherit;
}

/* LEAFLET POPUP STYLE CHANGES */

/* POP UP BOX */
.leaflet-popup-content-wrapper {
  background-color: rgba(255, 255, 255, 0.863);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.794);
  border-radius: 10px;
}

.leaflet-popup-content {
  /* width: 32rem !important; */
  width: 100% !important;
  /* height: 100%; */
}

/* LEAFLET CONTROL STLYE CHANGES */

/* .leaflet-control-container {
  display: flex !important;
  flex-direction: column;
}

.leaflet-top .leaflet-right {
  border-radius: 50px !important;
} */

/* LAYER CONTROL BOX */

.leaflet-control-layers-expanded {
  /* padding: 0 !important; */
  background-color: rgba(59, 178, 208, 0.8) !important;
}

.leaflet-control-layers-expanded .leaflet-control-layers-list {
  font-family: sans-serif !important;
  font-weight: 900 !important;
  color: black;
  /* background-color: rgba(59, 178, 208, 0.7) !important; */
}
