/* Box sizing reset best practice according to https://css-tricks.com/box-sizing/ */
/*  browser font-size set to 16px so 62.5% = 10px; 1 rem = 10px */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  /* padding: 1.5rem; */
  font-weight: 400;
  font-family: sans-serif;
}

/* OVERALL MAP */

.mapContainer {
  height: 100vh;
  display: flex;
}

.box {
  display: flex;
  flex-direction: column;
  flex-basis: 25%;
}

/* MAP COMPONENT */
#map {
  flex: 1;
  z-index: 0;
}

/* SIDE PANEL */

.side-panel {
  flex-basis: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-shadow: 3px 5px 5px rgba(255, 255, 255, 0.753);
}

/* SIDEBAR COMPONENT */
.sidebar-container {
  flex-basis: 100%;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* padding: 2rem; */
  background-color: rgba(0, 0, 0, 0.8);
  color: black;

  z-index: 0;
  /* display: none; */
}

.sidebar-container-hidden {
  display: flex;
  flex-direction: column;
  /* padding: 2rem; */
  background-color: rgba(0, 0, 0, 0.8);
  color: black;
  flex-basis: 100%;
  z-index: 0;
  display: none;
}

/* SIDEBAR CONTENT */
.searchResultDiv {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  /* overflow-y: scroll; */
}

.inputBoxDiv {
  margin: 1rem;
  font-size: 2rem;
  text-align: center;
}

/* RESUABLE COMPONENTS */
.inputBox {
  padding: 1.5rem;
  border-radius: 50px;
  outline: none;
}

.btn {
  background-color: #3bb2d0;
  color: black;
  width: fit-content;
  font-weight: 900;
}

.searchResult {
  font-size: 1.5rem;
}

/* DIRECTIONS COMPONENT */
.directions-container-hidden {
  /* display: flex;
  flex-direction: column;
  flex-basis: content;
  padding-right: 1rem; */

  display: none;
  /* background-color: rgba(0, 0, 0, 0.8); */
}

.directions-container {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  overflow-y: overlay;
  /* padding-right: 1rem; */

  /* display: none; */
  /* background-color: rgba(0, 0, 0, 0.8); */
}

.directions-control {
  display: flex;
  justify-content: center;
}

.directions-btn {
  /* position: absolute;
  left: 280px;
  top: 21px; */
  z-index: 10000;
}

.mapbox-directions-inputs input {
  font-size: 1.5rem !important;
}

.mapbox-directions-profile label {
  font-size: 1.5rem !important;
}

#inputs,
#errors,
#directions {
  /* position: absolute; */
  width: 100%;
  /* max-width: 300px; */
  min-width: 200px;
}

#inputs {
  z-index: 10;
  top: 15px;
  left: 10px;
  font-size: 5rem !important;
}

#directions {
  display: flex;
  flex-direction: column;
  height: 100vh;
  z-index: 99;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

#errors {
  z-index: 8;
  opacity: 0;
  padding: 10px;
  border-radius: 0 0 3px 3px;
  background: rgba(0, 0, 0, 0.25);
  top: 90px;
  left: 10px;
}

.mapbox-directions-reverse-input {
  position: absolute;
  z-index: 10;
  background: white;
  left: 50px;
  top: 35px !important;
  cursor: pointer;
}

/* PLACES API GEOCODER QUERY STYLING */
.searchQueryDiv {
  display: block;
  padding: 10px 0;
  /* background: rgba(0, 0, 0, 0.5); */
  background: transparent;
  color: #fff;
  font-size: 11px;
  line-height: 18px;
  border-radius: 3px;
  /* max-height: 50%;
  max-width: 25%; */
  overflow-y: overlay;
}

.searchQueryBox {
  margin: 1rem;
  color: #757575;
  font-size: 1.2rem;
  /* box-shadow: 3px 3px 5px rgba(144, 194, 45, 0.2); */
  border-bottom: 1px solid;
}

/* LINKS */
.searchQueryLink {
  margin: 0.1rem;
  font-size: 1rem;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.75);
  font-family: sans-serif;
  cursor: pointer;
}

.searchQueryBox p {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

/* locate user btn
.locateUserBtn {
  color: black;
}

.locateUserBtn:hover {
  color: orangered;
} */

.heritagePopup {
  background-color: black !important;
}

.taxiPopup {
  font-weight: 500;
}

/* LEAFLET POP STYLE CHANGES */
.leaflet-popup-content {
  /* width: 32rem !important; */
  width: 100% !important;
  height: 100%;
}
